<footer class="app-footer">
    <div class="app-footer__content">
        <div class="app-footer__row">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at, corporis doloremque dolorum iure minus nulla pariatur praesentium quisquam veritatis! Eligendi enim fugiat inventore laudantium nesciunt omnis quidem voluptas voluptatem?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>