<header class="app-header">
    <div class="app-header__content">
        <div class="app-header__row">
            <div class="container">
                <div class="row middle-xs">
                    <div class="col-md-6">
                        <div class="app-logo">
                            <a href="/">
                                <span>LOGO</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-6 text-right">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>