{% import "_components/components.njk" as components %}
{% set page = 'HOME' %}
{% set title = 'Starter - strona główna' %}
{% extends "_layouts/default.njk" %}
{% block content %}

    <article class="app-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-content">
                        {{ components.text(
                            content = '
                                <h1>Strona główna</h1>
                                <p>Komponent tekstowy</p>
                            '
                        ) }}

                        <button class="btn btn--primary" data-modal-id="tygasr215dqt">Open modal</button>
                        <div class="modal" data-modal="tygasr215dqt">
                            <div class="modal__wrapper">
                                <div class="modal__overlay">&nbsp;</div>
                                <div class="modal-box modal-box--fixed-size">
                                    <header class="modal-box__header">
                                        <h4 class="modal-box__title">&nbsp;</h4>
                                        <button class="modal-box__close" type="button" data-ref="close">
                                            <i class="ion-ios-close-outline"></i>
                                        </button>
                                    </header>
                                    <div class="modal-box__content">
                                        <section class="app-text || app-component">
                                            <h3>Zobacz jak otworzyć konto</h3>
                                            <p>Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet</p>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <section class="example || app-component" data-component="example">
                            <i class="ion-android-apps"></i>
                            <p>Example Component</p>
                        </section>

                        <section class="example || app-component" data-component="example" data-id="1">
                            <p>Example Component</p>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endblock %}
