{% extends "_layouts/pages.njk" %}
{% block content %}

    <section class="pages">
        <nav class="pages__navigation">
            <h1>Lista widoków</h1>
            <ul class="pages__list">
                <!-- templatesList -->
                <li class="pages__item">
                    <a href="home.html" class="pages__link" target="_blank">Strona główna</a>
                </li>
                <!-- endTemplatesList -->
            </ul>
        </nav>
    </section>

{% endblock %}
