<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="assets/images/favicon.ico">
    <link href="assets/styles/styles.min.css" rel="stylesheet" >
</head>

<body>
    <div id="app" class="app">
        {% include "_partials/header.njk" %}
        <main class="app-main">
            {% block content %}{{content}}{% endblock %}
        </main>
        {% include "_partials/footer.njk" %}
    </div>
    <script src="assets/scripts/scripts.min.js"></script>
</body>
</html>
