{% set modifiers = (modifier_class | default(data.modifiers)) %}

<section class="app-text {{ modifiers }} || app-component">
    <div class="app-text__content">
        {{ (data.content | default('')) | safe }}
    </div>
</section>
